html, body {
	margin: 0;
	height: 100%;
	font-family: 'WorkSans', sans-serif;
	overflow: scroll;
}

#header {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 501px) {
	#scroll {
		width: 100%;
		height: 100%;
	}

	#cards {
		height: 100%;
		display: table;
	}

	#cards > div {
		padding-left: 1.5em;
		padding-right: 1.5em;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 100%;
		box-sizing: border-box;
	}
	
	#cards > div:first-child {
		padding-left: 3em;
	}

	#cards > div:last-child {
		padding-right: 3em;
	}
}

@media screen and (max-width: 500px) {
	#cards > div {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

#cards > div img {
	height: 85vh;
	max-height: 400px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
	transition: height 0.15s ease-in-out;
	-webkit-transition: height 0.15s ease-in-out;
	transition: max-height 0.15s ease-in-out;
	-webkit-transition: max-height 0.15s ease-in-out;
}

#cards > div img:hover {
	box-shadow: 0px 4px 20px rgba(0,0,0,0.7);
	height: 91vh;
	max-height: 425px;
}

#links {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	font-size: 1.3em;
}

.dark-links #links {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: rgba(255,255,255,0.05);

	text-align: center;
	font-size: 1.3em;
}

#links a {
	color: #777;
	text-decoration: none;
	display: inline-block;
	margin: 14px;
	background-image: none !important;
}

#links.dark-links a {
    color: rgba(255,255,255,0.5);
    background-image: none !important;
}

.dark-links #links a:hover {
	color: rgba(255,255,255,0.8);
}

.blink {
  animation: blinker 2s linear infinite;
  right: 1vw;
  height: 30px;
  width: 132px;
  position: fixed;
  bottom: 1vw;
  z-index: 99;
  -webkit-filter: brightness(0%);
}

@keyframes blinker {  
  50% { opacity: 0; }
}

  


#scroll-left-detector {
	width: 10vw;
	height: 100vh;
	position: fixed;
	z-index: 98;
	transition: background 0.15s ease-in-out;
	-webkit-transition: background 0.15s ease-in-out;
}


#scroll-right-detector {
	width: 10vw;
	height: 100vh;
	position: fixed;
	z-index: 98;
	right: 0;
	transition: background 0.15s ease-in-out;
	-webkit-transition: background 0.15s ease-in-out;
}

#scroll-right-detector:hover {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(221,230,241,0.738532913165266) 100%);
}

#scroll-left-detector:hover {
	background: rgb(221,230,241);
	background: linear-gradient(90deg, rgba(221,230,241,0.738532913165266) 0%, rgba(255,255,255,0) 100%);
}


#links > a {
	background-image: none !important;
}

#links a:hover {
	color: #333;
}

.code-snip {
	background-color: #073642;
	color: #fdfdfd;
	width: 60%;
	height: 20%;
	overflow-y: scroll;
	font-family: 'Source Code Pro', monospace;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 50px;
	font-size: 0.7em;
}

.bottom {
	margin-bottom: 100px !important;
}

#nav {
	margin-top: 5vh;
	position: absolute;
	z-index: 99;
}
#nav > a {
	right: 3vw;
	text-decoration: none;
	z-index: 100;
	color: black;
	font-size: 0.8em;
	position: fixed;
	background-color: rgba(255,255,255,1);
	padding: 10px;
}
#nav > #scroll-helper {
	left: 3vw;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1.5px;	
	position: fixed;
	background-color: rgba(255,255,255,1);
	padding: 10px;
}