body {
	margin-left:25vw;
	font-family: 'EBGaramond';
	font-size: 1em;
	overflow-x: hidden;
}

a {
	color: black;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	background-image: linear-gradient(to top, rgba(255,210,184,0.6) 45%, rgba(0,0,0,0) 40%);
	-webkit-transition: background-image 500ms ease-out 1s;
}

a:hover, .dark-mode a:hover {
	background: linear-gradient(90deg, rgba(255,255,99,1) 0%, rgba(255,210,184,1) 60%, rgba(255,186,71,1) 100%);
	color: black;
}


.dark-mode a {
	background-image: linear-gradient(to top, rgba(211, 93, 63, 0.9) 25%, rgba(0,0,0,0) 20%);
	color: white;	
}

#footer > #links > a {
	background-image: none;
}

p, li {
	font-size: 0.9em;
	line-height: 1.6em;
}

strong {
	/*font-family: WorkSans-Semibold;*/
	font-weight: 600;
}

#about-header {
	top: 7vh;
	position: fixed;
	font-size: 1em;
	margin-left:-20vw;
}

#about-header a {
	text-align: right;
	float: left;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	background-image: none !important;
}

#about-header a:hover {
	color: #e63153;
}

#about-header img {
	margin-right: 3vw;
	margin-top:-2vh;
	height:6vh;
	width: auto;
	float: left;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#about-header a img:hover {
  -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
}

#about-header>a::before {
    content: "â†";
    display: inline-block;
    float: left;
    margin-right: 10px;
}

#about-text.bio-about-text {
	font-size: 1.5em;
}

.header-dark > a {
	color: white;
}

.bio-about-text .text-highlight {
	text-decoration: none; color: black;
    font-family: "WorkSans-Semibold";
}


#about-text {
	font-family: "SilkSerif-Regular";
	margin-top:15vh;
	font-size:2.25em;
	margin-right: 20vw;
	line-height: 1.3;
}
#about-text > strong {
	font-family: "SilkSerif-Bold";
	font-size: 1.3em;
}

.text-highlight {
	color: #E63153;
	text-decoration:underline;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background-color: #FFECEF;
	z-index:-10;
	position:fixed;
	top:20vh;
	left:25vw;
}

.square {
	width:200px;
	height:200px;
	background-color:#FFECEF;
	z-index:-10;
	position:fixed;
	top:50vh;
	left:50vw;
}

.triangle {
	width: 0; 
	height: 0; 
	border-bottom: 0px solid transparent;  /* left arrow slant */
	border-top: 200px solid transparent; /* right arrow slant */
	border-left: 200px solid #FFECEF; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	z-index:-10;
	position:fixed;
	top:60vh;
	left:15vw;
}

.section {
	font-size:1.3em;
	margin-bottom: 5vh;
	width: 100vw;
}

.skills {
	width: 80%;
	margin-bottom: 15vh;
	margin-top: 6vh;
	font-family: "UbuntuMono-Regular";
}

.skills span{
	margin: 0vh 0.5vw 1vh 0vw;
	float:left;
	font-size: 0.7em;
	padding:4px 8px;
	border-radius:3px;
	border: 1px solid rgba(230, 49, 83, 0);
	color: black;
	background-color: yellow;
}


.skills span:hover{
	background: rgb(255,255,99);
background: linear-gradient(90deg, rgba(255,255,99,1) 0%, rgba(255,210,184,1) 60%, rgba(255,186,71,1) 100%);
	border: 1px solid rgba(255,255,99,1);
	cursor: pointer;
}

.dark-mode .skills span {
	background-color: rgba(211, 93, 63, 0.9);
}

.dark-mode .skills span:hover {
}

.feature {
	margin-top: 6vh;
	font-size: 0.8em;
	/*color: rgba(0,0,0,0.5);*/
	color: rgba(54, 48, 44,0.6);
	font-family: "EBGaramond";
	display: block;
}
.feature-link {
	margin-top: 1.5vh;
	color: black;
}
.dark-mode .feature {
	color: rgba(255,255,255,0.7);
}



.misc-section {
	font-size: 1.3em;
	margin-bottom: 12vh;
	width: 100vw;
	margin-top: 6em;
}
.misc-title{
	margin-top: 10em;
}
.misc-description {
	margin-top: 1em;
	width: 30%;
	font-size: 0.8em;
	opacity: 0.5;
}
.misc-section > .images {
	display: block;
}

.misc-section > .images > img, .misc-section > .images > iframe {
	width: 28% auto;
	max-height: 150px;
	margin-right: 20px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
	border-radius: 2px;
	transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
}



.title {
	font-size:1em;
	font-weight:500;
	margin-top:12vh;
	/*font-family: "WorkSans-Medium";*/
	/*font-family: "Inter";*/
	/*font-family: "EBGaramond";*/
	font-family: "UbuntuMono-Bold";
	text-transform: uppercase;
	letter-spacing: 1px;
}

.textbox {
	width: 50vw;
	float: left;
	margin-right: 3vw;
}

.textbox img {
	width:100%;
	height: auto;
}

.imgbox {
	width: 25vw;
	margin-top: 30px;
	/*float: left;*/
}

.imgbox img {
	width:100%;
	height: auto;
}

.imgrow {
	display: table;
	width: 100%;
	/*float: left;*/
	/*margin: 5vh 0vw;*/
}
.imgrow > .imgwrapper {
	display: table-cell;
}
.imgrow img {
	display: block;
	width: 95%;
	height: auto;
	/*margin-right: 5%;*/
	/*float: left;*/
}

.clear {
	clear:both;
	margin-bottom: 5vh;
}

.label {
	color: rgba(150, 141, 134,1);
	font-size:0.7em;
	font-family: 'UbuntuMono-Regular';
	letter-spacing: -0.25px;
}

.quote {
    font-family: 'EBGaramond';
    border-left: 2px solid #d3d3d3;
    padding-left: 2vw;
    margin: 5vh 0vw;
}

.quote-credits {
	color: rgba(54, 48, 44,0.6);
	font-size: 0.8em;
	font-family: 'EBGaramond-Italic';
}

.splash {
	width:135%;
	height:auto;
	margin-top:2vh;
	margin-bottom:2vh;
	margin-left:-25vw;
}

.strobe {
	background-color: black;
	color: rgba(255,255,255,0.8) !important;
}

.white {
	color: white !important;
}

.imgblockhalf{
	float: left;
	width: 50vw;
	height:auto;
}

#divide-pic {
	width:60%;
	margin-left: 20%;
}

.drop-shadow {
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
}

.textbox > img {
	margin: 3vh 0;
}