@font-face {
  font-family: AtlasGrotesk-Regular;
  src: url("../fonts/AtlasGrotesk-Regular-Web.ttf");
}

@font-face {
  font-family: AtlasGrotesk-Medium;
  src: url("../fonts/AtlasGrotesk-Medium-Web.ttf");
}

@font-face {
  font-family: AtlasGrotesk-Light;
  src: url("../fonts/AtlasGrotesk-Light-Web.ttf");
}

@font-face {
  font-family: AtlasGrotesk-Bold;
  src: url("../fonts/AtlasGrotesk-Bold-Web.ttf");
}


@font-face {
  font-family: WorkSans-Book;
  src: url("../fonts/WorkSans-Book.ttf");
}

@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: WorkSans-RegularItalic;
  src: url("../fonts/WorkSans-Italic.ttf");
}

@font-face {
  font-family: WorkSans-Medium;
  src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
  font-family: WorkSans-BookItalic;
  src: url("../fonts/WorkSans-Italic.ttf");
}

@font-face {
  font-family: WorkSans-Semibold;
  src: url("../fonts/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: WorkSans-SemiboldItalic;
  src: url("../fonts/WorkSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: WorkSans-Bold;
  src: url("../fonts/WorkSans-Bold.ttf");
}

@font-face {
  font-family: WorkSans-ExtraboldItalic;
  src: url("../fonts/WorkSans-Extrabold.ttf");
}

@font-face {
  font-family: WorkSans-ExtraboldItalic;
  src: url("../fonts/WorkSans-Extrabold.ttf");
}



body {
	margin-left:25vw;
	font-family: 'WorkSans';
    /*font-family: "AtlasGrotesk-Regular";*/
	font-size: 0.8em;
	overflow-x: hidden;
}

a {
	color: black;
	font-family: 'WorkSans';
    /*font-family: "AtlasGrotesk-Regular";*/
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	background-image: linear-gradient(to top, #e9e9f0 45%, rgba(0,0,0,0) 40%);
	-webkit-transition: background-image 500ms ease-out 1s;
}

.dark-mode a {
	background-image: linear-gradient(to top, rgba(230,49,83,0.6) 45%, rgba(0,0,0,0) 40%);
	color: white;	
}

#footer > #links > a {
	background-image: none;
}

p, li {
	font-size: 0.9em;
	line-height: 1.6em;
}

strong {
	font-family: WorkSans-Semibold;
    /*font-family: "AtlasGrotesk-Bold";*/
}

#about-header {
	top: 7vh;
	position: fixed;
	font-size: 1em;
	margin-left:-20vw;
}

#about-header a {
	text-align: right;
	float: left;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	background-image: none !important;
}

#about-header a:hover {
	color: #e63153;
}

#about-header img {
	margin-right: 3vw;
	margin-top:-2vh;
	height:6vh;
	width: auto;
	float: left;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#about-header a img:hover {
  -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
}

#about-header>a::before {
    content: "â†";
    display: inline-block;
    float: left;
    margin-right: 10px;
}

#about-text.bio-about-text {
	font-size: 1.5em;
}

.header-dark > a {
	color: white;
}

.bio-about-text .text-highlight {
	text-decoration: none; color: black;
    font-family: "WorkSans-Semibold";
    /*font-family: "AtlasGrotesk-Bold";*/
}


#about-text {
	margin-top:15vh;
	font-size:2.25em;
	margin-right: 20vw;
	line-height: 1.3;
}

.text-highlight {
	color: #E63153;
	text-decoration:underline;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background-color: #FFECEF;
	z-index:-10;
	position:fixed;
	top:20vh;
	left:25vw;
}

.square {
	width:200px;
	height:200px;
	background-color:#FFECEF;
	z-index:-10;
	position:fixed;
	top:50vh;
	left:50vw;
}

.triangle {
	width: 0; 
	height: 0; 
	border-bottom: 0px solid transparent;  /* left arrow slant */
	border-top: 200px solid transparent; /* right arrow slant */
	border-left: 200px solid #FFECEF; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	z-index:-10;
	position:fixed;
	top:60vh;
	left:15vw;
}

.section {
	font-size:1.3em;
	margin-bottom: 5vh;
	width: 100vw;
}

.skills {
	width: 80%;
	margin-bottom: 15vh;
	margin-top: 3vh;
}

.skills span{
	margin: 0vh 0.5vw 1vh 0vw;
	float:left;
	font-size: 0.8em;
	background-color: rgba(230,49,83,0.2);
	padding:4px 8px;
	border-radius:5px;
	border: 1px solid rgba(230, 49, 83, 0);
	color: rgba(230,49,83,1);
}


.skills span:hover{
	background-color: rgba(230, 49, 83, 0.15);
	border: 1px solid rgba(230, 49, 83, 1);
	cursor: pointer;
}

.dark-mode .skills span {
	background-color: rgba(230,49,83,0.25);
}

.dark-mode .skills span:hover {
	background-color: rgba(230,49,83,0.35);
}

.feature {
	margin-top: 6vh;
	font-size: 0.8em;
	color: rgba(0,0,0,0.5);
	font-family: "WorkSans-RegularItalic";
	display: inline-block;
}
.feature-link {
	margin-top: 1.5vh;
	display: inline-block;
}
.dark-mode .feature {
	color: rgba(255,255,255,0.7);
}



.misc-section {
	font-size: 1.3em;
	margin-bottom: 12vh;
	width: 100vw;
	margin-top: 6em;
}
.misc-title{
	margin-top: 10em;
}
.misc-description {
	margin-top: 1em;
	width: 30%;
	font-size: 0.8em;
	opacity: 0.5;
}
.misc-section > .images {
	display: block;
}

.misc-section > .images > img, .misc-section > .images > iframe {
	width: 28% auto;
	max-height: 150px;
	margin-right: 20px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
	border-radius: 2px;
	transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
}



.title {
	font-size:1.3em;
	font-weight:500;
	margin-top:12vh;
	font-family: "WorkSans-Bold";
}

.textbox {
	width: 50vw;
	float: left;
	margin-right: 3vw;
}

.textbox img {
	width:100%;
	height: auto;
}

.imgbox {
	width: 25vw;
	margin-top: 30px;
	/*float: left;*/
}

.imgbox img {
	width:100%;
	height: auto;
}

.imgrow {
	width: 100%;
	float: left;
	margin: 5vh 0vw;
}

.imgrow img {
	width: 28%;
	margin-right: 5%;
	float: left;
}

.clear {
	clear:both;
	margin-bottom: 5vh;
}

.label {
	color: grey;
	font-size:0.8em;
}

.quote {
    font-family: 'WorkSans-BookItalic';
    border-left: 2px solid #d3d3d3;
    padding-left: 2vw;
    margin: 5vh 0vw;
}

.quote-credits {
	color: grey;
	font-size: 0.8em;
}

.splash {
	width:135%;
	height:auto;
	margin-top:2vh;
	margin-bottom:2vh;
	margin-left:-25vw;
}

.strobe {
	background-color: black;
	color: white !important;
}

.white {
	color: white !important;
}

.imgblockhalf{
	float: left;
	width: 50vw;
	height:auto;
}

#divide-pic {
	width:60%;
	margin-left: 20%;
}

.drop-shadow {
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
}

.textbox > img {
	margin: 3vh 0;
}