@font-face {
  font-family: AtlasGrotesk-Regular;
  src: url("../fonts/AtlasGrotesk-Regular-Web.ttf");
}

@font-face {
  font-family: AtlasGrotesk-Medium;
  src: url("../fonts/AtlasGrotesk-Medium-Web.ttf");
}

@font-face {
  font-family: AtlasGrotesk-Light;
  src: url("../fonts/AtlasGrotesk-Light-Web.ttf");
}

@font-face {
  font-family: AtlasGrotesk-Bold;
  src: url("../fonts/AtlasGrotesk-Bold-Web.ttf");
}


@font-face {
  font-family: WorkSans-Book;
  src: url("../fonts/WorkSans-Book.ttf");
}

@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: WorkSans-RegularItalic;
  src: url("../fonts/WorkSans-Italic.ttf");
}

@font-face {
  font-family: WorkSans-Medium;
  src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
  font-family: WorkSans-BookItalic;
  src: url("../fonts/WorkSans-Italic.ttf");
}

@font-face {
  font-family: WorkSans-Semibold;
  src: url("../fonts/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: WorkSans-SemiboldItalic;
  src: url("../fonts/WorkSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: WorkSans-Bold;
  src: url("../fonts/WorkSans-Bold.ttf");
}

@font-face {
  font-family: WorkSans-ExtraboldItalic;
  src: url("../fonts/WorkSans-Extrabold.ttf");
}

@font-face {
  font-family: WorkSans-ExtraboldItalic;
  src: url("../fonts/WorkSans-Extrabold.ttf");
}


html, body {
	margin: 0;
	height: 100%;
	font-family: 'WorkSans', sans-serif;
}

#header {
	width: 100%;
	height: auto;
}

#links {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	font-size: 1.3em;
}

#links.dark-links {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: rgba(255,255,255,0.05);
	text-align: center;
	font-size: 1.3em;
}

#links a {
	color: #777;
	text-decoration: none;
	display: inline-block;
	margin: 14px;
}


#links.dark-links a {
	color: rgba(255,255,255,0.5);
}

#links.dark-links a:hover {
	color: rgba(255,255,255,0.8);
}

#links a:hover {
	color: #333;
}

.code-snip {
	background-color: #073642;
	color: #fdfdfd;
	width: 60%;
	height: 20%;
	overflow-y: scroll;
	font-family: 'Source Code Pro', monospace;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 50px;
	font-size: 0.7em;
}

.bottom {
	margin-bottom: 100px !important;
}